:root {
  --theme: "light-mode";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
}

.dark-mode {
  background-color: rgb(28, 28, 34);
  color: rgb(194, 194, 194);
}

.light-mode {
  background-color: white;
  color: black;
}

#logo-container,
#logo-brand {
  height: 70px;
  width: 70px;
}

#dark-light-mode-logo,
#dark-light-mode-logo-container {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

#nav-heading {
  font-size: 25px;
  font-weight: 600;
}

#nav,
#nav-left,
#nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 4px;
  background-color: #ff9b44;
}

#search-books-input {
  padding: 5px;
  width: 300px;
  border-radius: 10px;
}

#container-functionality {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#feat-sorting-view {
  /* border: 1px solid red; */
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

#view-select {
  padding: 3px;
  width: 70px;
  border-radius: 6px;
}

#sort-select,
#based-on-select {
  padding: 3px;
  width: 150px;
  border-radius: 6px;
}

#pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#items-per-page {
  padding: 3px;
  width: 60px;
  border-radius: 6px;
}

.next-page-button,
.prev-page-button {
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 80%;
  padding: 4px;
  cursor: pointer;
}

.book-container-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 6px;
}

.book-container-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.card-list {
  margin: 6px;
  padding: 6px;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  gap: 20px;
}

.card-grid {
  margin: 6px;
  padding: 6px;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.book-image {
  max-height: 173px;
  object-fit: contain;
}

.book-information {
  padding: 6px;
  /* border-left: 1px solid rgb(0, 0, 0); */
  width: 100%;
}

.book-title {
  font-size: 20px;
  font-weight: 600;
}

.book-authors {
  padding: 6px;
  display:inline-block;
  /* border: 1px solid; */
  width: auto;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  margin-top: 6px;
}

.book-published-date {
  padding: 6px;
  margin-top: 3px;
  font-size: 14px;
  text-decoration: underline;
}

.book-publisher {
  padding: 3px 6px;
  /* margin-top: 3px; */
  font-size: 14px;
}

.book-description {
  padding: 6px;
  margin-top: 6px;
  font-size: 14px;
}

.view-more-button {
  border: none;
  color: blue;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  background-color: white;
  &:hover {
    text-decoration: underline;
    font-weight: 500;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #nav{
    flex-direction: column;
    align-items: center;justify-content: center;
  }
  #search-books-input{
    width: 100%;
  }
  #container-functionality{
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;
  }
  #feat-sorting-view, #pagination-container{
    flex-wrap: wrap;
    margin-bottom: 6px;
  }
  .card-list{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .book-container-grid{
    grid-template-columns: repeat(1,1fr);
  }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 768px) {
  #container-functionality{
    flex-direction: column;
  }
  .book-container-grid{
    grid-template-columns: repeat(2,1fr);
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px)  and (max-width: 992px) {
  #container-functionality{
    flex-direction: column;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  ...;
} */
